@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background-color: #000;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: darkslategrey;
    overflow: hidden;
    position: sticky;
    top: 0;
    font-family: 'Ubuntu', sans-serif;
}

ol {
    list-style-type: none;
}

ol a {
    color: lightblue;
}

ol a:hover {
    color: darkslateblue;
}

.navbar {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar:hover {
    background-color: darkblue;
}

p {
    color:white;
}

.button {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    cursor: pointer;
    margin: 10px 4px;
}

.grid-container {
    display: grid; 
    grid-template-columns: repeat(5, 80px);
    grid-template-rows: repeat(5, 80px);
    text-align: center;
    justify-content: center;
}

.tt {
    position: relative;
    display: inline-block;
}

.tt .ttText {
    visibility: hidden;
    width: 120px;
    background-color: darkslategray;
    color: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.tt:hover .ttText {
    visibility: visible;
}